{% extends "layouts/base.html" %}
{% load static %}

{% comment %}{% block title %} Dashboard {% endblock %}{% endcomment %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <style>
    .table thead th  {
      text-transform: none;
    }
  </style>

{% endblock stylesheets %}

{% block content %}

    <div id="upload-instructions" class="row">
      <div class="col-12 mb-4 mt-4">
        <h1>Welcome to <span class="text-secondary font-weight-bold">GEXCOMP</span></h1>
        <h4 class="p-2">..Gene Expression Better Compared</h4>
      </div>

      <p>Welcome to GEXCOMP. This tool uses DESeq2 to do advanced DE, GO, KEGG analysis and more.</p>
      <p><b>To use the tool you need to upload three files:</b></p>
        <div class="pl-lg-2">
          - Gene expression file<br />
          - Averaged Gene expression file<br />
          - Data annotation file
        </div>
      <span class="text-danger" style="font-weight: bold">Important: column names are case-sensitive.</span>
      <div class="ml-lg-1 mt-lg-4">

        <p><b>Kindly have a look at the structures of the files above to make sure your run works perfectly:</b></p>

          - <b>Gene expression file (.csv):</b><br />

          <div class="text-center">
            <table class="table table-striped" style="width: 60%; margin-left: auto; margin-right: auto;">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">subject_id</th>
                  <th scope="col">ENSG_ID_1</th>
                  <th scope="col">ENSG_ID_2</th>
                  <th scope="col">ENSG_ID_...</th>
                  <th scope="col">ENSG_ID_n</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">0</th>
                  <td>control1</td>
                  <td>1.22334</td>
                  <td>0.25964</td>
                  <td>8.11752</td>
                  <td>3.01002</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>control2</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>patient1</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>patient2</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />
          - <b>Aggregated by Average Gene expression file (.csv):</b> - <span class="text-secondary" style="font-weight: bold">Only two rows (plus header)</span><br />

          <div class="text-center">
            <table class="table table-striped" style="width: 60%; margin-left: auto; margin-right: auto;">
              <thead>
                <tr>
                  <th scope="col">label</th>
                  <th scope="col">ENSG_ID_1</th>
                  <th scope="col">ENSG_ID_2</th>
                  <th scope="col">ENSG_ID_...</th>
                  <th scope="col">ENSG_ID_n</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">control</th>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                  <th scope="row">patient</th>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />
          - <b>Data annotation file (.csv):</b>

          <div class="text-center">
            <table class="table table-striped" style="width: 60%; margin-left: auto; margin-right: auto;">
              <thead>
                <tr>
                  <th scope="col">sample</th>
                  <th scope="col">group</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">control1</th>
                  <td>control</td>
                </tr>
                <tr>
                  <th scope="row">control2</th>
                  <td>control</td>
                </tr>
                <tr>
                  <th scope="row">patient1</th>
                  <td>patient</td>
                </tr>
                <tr>
                  <th scope="row">patient2</th>
                  <td>patient</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
    <hr />
    <div class="py-4">
      <h4 class="p-2">Upload area:</h4>
      <span class="text-danger" style="font-weight: bold">Important: </span>If you upload wrong files you will be redirected to this form.
      <div style="max-width: 400px; margin-top: 7px;">
        <form action="{% url 'index_upload'%}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="input-data-file" class="form-label"><b>Gene Expression</b> file: (.csv)</label>
            <input id="input-data-file" name="input-data-file" class="form-control" type="file">
          </div>
          <div class="mb-3">
            <label for="input-data-aggregated-file" class="form-label"><b>Aggregated Gene Expression</b> file: (.csv)</label>
            <input id="input-data-aggregated-file" name="input-data-agg-file" class="form-control" type="file">
          </div>
          <div class="mb-3">
            <label for="input-data-annotation-file" class="form-label"><b>Date Annotation</b> file: (.csv)</label>
            <input id="input-data-annotation-file" name="input-data-annotation-file" class="form-control" type="file">
          </div>

          <br />
          <button type="submit" class="btn btn-primary">Upload and Start</button>
        </form>
      </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- page specific -->
  <script src="/static/assets/js/pages/index.js"></script>

{% endblock javascripts %}
